@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #3b2016;
  --primary: #f9c200;  
  --secondary: #0059df;    
  --tertiary: #af0a19;    
  --light: #fbebd3;  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-light: var(--light);

  --font-sans: var(--font-poppins);
  --font-display: var(--font-coco);
}

@layer utilities {
  .font-display {
    font-family: var(--font-coco), sans-serif;
  }

  .font-body {
    font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
  }
}

html {
  scroll-behavior: smooth;
}